<form action="" class="profile-edit">
    <fieldset>
        <legend {{bind-attr class="legendClass"}}>
            <i {{bind-attr class="legendIcon :fa"}}></i>
            {{legendText}}
        </legend>
        <div class="row">
            <div class="medium-6 large-4 columns">
                {{input
                value=model.firstName
                type="text"
                name="firstName"
                placeholder="First Name"}}

                {{input
                value=model.lastName
                type="text"
                name="lastName"
                placeholder="Last Name"}}

                {{input
                value=model.displayName
                type="text"
                name="displayName"
                placeholder="Display Name"}}

                {{input
                value=model.location
                type="text"
                name="location"
                placeholder="Location"}}

                {{input
                value=model.gravatarEmail
                type="email"
                name="gravatarEmail"
                aria-label="email"
                placeholder="Gravatar Email"}}
            </div>
            <div class="show-for-medium-up medium-6 large-8 columns profile-photo-wrapper">
                <img class="profile-photo" {{bind-attr src=gravatarUrl}}>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 large-4 columns">
                <button class="button small" type="button" {{bind-attr disabled=disableSubmit}} {{action 'save'}}>
                    <i class="fa fa-save"></i>
                    Save
                </button>
                <button class="button small" type="button" {{bind-attr disabled=disableCancel}} {{action 'cancel'}}>
                    <i class="fa fa-undo"></i>
                    Cancel
                </button>
                <small class="pull-right view-link">{{#link-to 'profile.view'}}View{{/link-to}}</small>
            </div>
        </div>
    </fieldset>
</form>
