<div class="row">
    <div class="text-center">
        <div class="panel margin-top-30 profile-view">
            <div class="text-center">
                <img {{bind-attr src=gravatarUrl}}>
            </div>
            <div class="card-divider profile-name">
                {{model.displayName}}
            </div>
            <div class="card-section">
                <p>{{model.firstName}} {{model.lastName}}</p>
                <p>{{model.location}}</p>
            </div>
        </div>
    </div>
</div>
