<div class="profile-view">
    <div class="row">
        <div class="medium-6 columns">
            <div class="panel profile-info">
                <p>
                    {{firstName}} {{lastName}} ({{displayName}})
                </p>
                <p>
                    {{location}}
                </p>
                <small class="right">{{#link-to 'profile.edit'}}Edit{{/link-to}}</small>
            </div>
        </div>
        <div class="medium-6 columns profile-photo-wrapper">
            <img class="profile-photo" {{bind-attr src=gravatarUrl}}>
        </div>
    </div>
</div>
