<div class="profile-view">
    <div class="row">
        <div class="medium-6 columns">
            <div class="card profile-info">
                <div class="text-center">
                    <img {{bind-attr src=gravatarUrl}}>
                </div>
                <div class="card-divider">
                    {{displayName}}
                </div>
                <div class="card-section">
                    <p>{{firstName}} {{lastName}}</p>
                    <p>{{location}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
