<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li class="url-input-form margin-10">{{render 'urlinput' urlModel}}</li>
                <li><a href="#">menu item 1</a></li>
                <li><a href="#">menu item 2</a></li>
                <li><a href="#">menu item 3</a></li>
                <li><a href="#">menu item 4</a></li>
            </ul>
        </aside>

        <nav class="top-bar sticky" data-topbar data-options="mobile_show_parent_link: false" role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a class="left-off-canvas-toggle" href="#">
                            <i {{bind-attr class="headerIcon :fa :fa-fw :margin-right-5 :header-icon"}}></i>
                            <i class="fa fa-fw fa-angle-double-left close-icon"></i>
                            <span>Ayne</span>
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
            </ul>

            <section class="top-bar-section">
                <ul class="pull-right hide-for-medium-up">
                    {{#if loggedIn}}
                        <li><a href="/user/profile/edit/details">Profile Edit</a></li>
                        <li><a href="/user/profile/view">Profile View</a></li>
                        <li> <a href="#" {{action 'logout'}}>Log Out</a> </li>
                    {{else}}
                        <li><a href="user/login">Log In</a></li>
                        <li><a href="user/signup">Register</a></li>
                    {{/if}}
                </ul>
                <ul class="pull-right show-for-medium-up">
                    {{#if loggedIn}}
                    <li class="has-dropdown not-click">
                        {{partial 'core/app/partials/header-profile-info'}}
                        <ul class="dropdown">
                            <li><a href="/user/profile/edit/details">Profile Edit</a></li>
                            <li><a href="/user/profile/view">Profile View</a></li>
                            <li> <a href="#" {{action 'logout'}}>Log Out</a> </li>
                        </ul>
                    </li>
                    {{else}}
                        <li class="divider"></li>
                        <li class="has-form">
                            <a class="button" href="/user/login">Log In</a>
                        </li>
                        <li class="divider"></li>
                        <li class="has-form">
                            <a class="button" href="/user/signup">Register</a>
                        </li>
                    {{/if}}
                </ul>
            </section>
        </nav>

        <div class="main-section">
            {{outlet}}
        </div>
    </div>
</div>

