<div class="grid-frame">
    <div class="grid-block">
        <div class="grid-content">
            <fieldset>
                <legend>Enter Url</legend>

                <label>Url
                    <span class="inline-label">
                        {{input
                        name="url"
                        type="url"
                        keyUpAction="getUrlMeta"
                        value=displayHref}}
                        <span class="form-label">
                            {{render 'favicon' this }}
                        </span>
                    </span>
                </label>

                <label>Title
                    <span class="inline-label">
                    {{input
                    name="title"
                    type="text"
                    value=title}}
                    {{#if pendingMeta}}
                        <span class="form-label">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    {{/if}}
                    </span>
                </label>

                <label>Tags (lowercase words, no spaces)
                    {{tags-input
                    name="tags"
                    value=tags}}
                </label>

                <label>Private
                    <div class="switch radius">
                        {{input
                        name="private"
                        type="checkbox"
                        id="private-switch"
                        checked=private}}
                        <label for="private-switch"></label>
                    </div>
                </label>

                <label>Notes
                    {{textarea
                    name="notes"
                    rows="3"
                    value=notes}}
                </label>

                <button class="button small" type="button" {{bind-attr disabled=disableSubmit}} {{action 'save'}}>
                    <i class="fa fa-bookmark"></i>
                    Save
                </button>
            </fieldset>
        </div>
        <div class="grid-content show-for-medium-up">
            <ul class="side-nav">
                {{#each url in recentUrls}}
                <li>
                    <a {{bind-attr href=url.href}} target="_blank">
                        {{render 'favicon' url }}
                        {{url.title}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
