<p class="title">Add or edit a url</p>

<fieldset>
    <label>Url
        <div class="row collapse">
            <div class="small-10 columns">
                {{input
                name="url"
                type="url"
                key-up="getUrlMetaSlow"
                focus-out="getUrlMeta"
                value=displayHref}}
            </div>
            <div class="small-2 columns">
                <span class="postfix"> {{view 'favicon' src=model.favicon clearOnClick=true }} </span>
            </div>
        </div>
    </label>

    <label>Title
        <div class="row collapse">
            <div class="small-10 columns">
                {{input
                name="title"
                type="text"
                value=model.title}}
            </div>
            <div class="small-2 columns">
                <span class="postfix">
                    {{#if pendingMeta}}
                    <i class="fa fa-spinner fa-pulse fa-lg"></i>
                    {{/if}}
                </span>
            </div>
        </div>
    </label>

    <label>Tags (lowercase words, no spaces)
        {{tags-input
        name="tags"
        valueAutocomplete=tagsData
        removeTag="removeTag"
        value=model.tags}}
    </label>

    <label>Private
        <div class="switch radius">
            {{input
            name="private"
            type="checkbox"
            id="url-privacy-setting"
            checked=model.private}}
            <label for="url-privacy-setting"></label>
        </div>
    </label>

    <label>Notes
        {{textarea
        name="notes"
        rows="3"
        value=model.notes}}
    </label>
</fieldset>

<button class="button small margin-top-10" type="button" disabled={{disableSubmit}} {{action 'save'}}>
    <i class="fa fa-bookmark-o"></i>
    Save
</button>

{{#if showDelete}}
    <button class="button secondary small margin-top-10" type="button" disabled={{disableDelete}} {{action 'remove'}}>
        <i class="fa fa-trash"></i>
        Delete
    </button>
{{/if}}

