<div class="row margin-top-30 margin-bottom-10">
  <div class="medium-6 large-6 columns">
    <div title={{searchHelp}}>
      {{query-input tags=keywords action="searchPlugs" error=queryError pending=searchPending}}
      {{#if model.plugins.length}}
        <small class="query-info pull-left">{{search}}</small>
        <small class="query-info pull-right">{{model.plugins.length}}</small>
      {{/if}}
    </div>
  </div>
</div>

<div class="plug-index margin-bottom-30 row">
  <div class="search-results medium-6 large-6 columns">
    {{plug-list model=model.plugins showModal="showModal"}}
  </div>

  <ul class="accordion medium-6 large-6 columns" data-accordion>
    {{#accordion-item
       open=mostStarredActive
       accordionId="most-starred"
       title="Most Starred"
       toggleAction="updateMostStarred"
    }}
      {{plug-list model=model.mostStarred showModal="showModal"}}
    {{/accordion-item}}

    {{#accordion-item
       open=lastUpdatedActive
       accordionId="last-updated"
       title="Last Updated"
       toggleAction="updateLastUpdated"
    }}
      {{plug-list model=model.lastUpdated showModal="showModal"}}
    {{/accordion-item}}
  </ul>
</div>
