<div class="row margin-top-30 margin-bottom-10">
    <div class="medium-8 large-6 columns">
        <div title={{searchHelp}}>
            {{query-input tags=keywords action="searchPlugs" error=queryError pending=searchPending}}
            <small class="query-info pull-left">{{search}} {{model.length}}</small>
        </div>
    </div>
</div>

<div class="margin-bottom-30 row">
    <div class="medium-8 large-6 columns">
        {{render 'pluglist' model}}
    </div>
</div>
