<div class="plug-view">
    <div class="title row">
        <div class="pull-left">
            <h5 class="plug-title {{if model.hasReadme 'has-readme'}}">
                <a class="name" href="javascript:void(0)" {{action 'showModal' 'details-dialog' model}}>{{model.name}}</a>
            </h5>
        </div>

        <div class="pull-right">
            <h5 class="plug-author-info">
                <a href="{{model.author.html_url}}" target="_blank">
                    {{author}}
                </a>
                -
                <a href="{{model.githubUrl}}" target="_blank">
                    {{model.githubStarCount}} <i class="fa fa-lg fa-github"></i>
                </a>
            </h5>
        </div>
    </div>

    <div class="description row">
        <dl>
            <dd>{{model.description}}</dd>
        </dl>
    </div>
</div>
