<div class="plug-view">
    <h4 class="plug-title">
        {{model.name}}
        <a class="pull-right" href="{{model.githubUrl}}" target="_blank">
            {{model.githubStarCount}} <i class="fa fa-lg fa-github"></i> 
        </a>
    </h4>
    <h5>by {{model.author}}</h5>
    <dl class="plug-description">
        <dd>{{model.description}}</dd>
    </dl>
</div>
