<div class="plug-view">
    <div class="title row">
        <div class="pull-left">
            <h6 class="plug-title {{if model.hasReadme 'has-readme'}}">
                <a class="name" href="javascript:void(0)" {{action 'showModal' 'details-dialog' model}}>{{model.name}}</a>
            </h6>
            <a  data-id="{{model.id}}-copy-clone-url-button"
                class="button small action-button copy-clone-url-button"
                type="button"
                data-clipboard-text={{model.githubCloneUrl}}
                title={{copyCloneUrlTitle}}>
                <i class="{{copyCloneUrlClass}} fa fa-fw"></i>
            </a>
        </div>

        <div class="pull-right">
            <h6 class="github-info">
                <a class="author-url margin-right-10" href="{{model.author.html_url}}" target="_blank">
                    {{author}}
                </a>

                <a class="html-url" href="{{model.githubHtmlUrl}}" target="_blank">
                    {{model.githubStarCount}} <i class="fa fa-lg fa-github"></i>
                </a>
            </h6>
        </div>
    </div>

    <div class="{{if aboveThreshold 'plugin'}} row">
        <dl>
            <dd class="description">{{model.description}}</dd>
            <dd>
                <small class="created-date">
                    Created <span class="date">{{createdAt}}</span>
                </small>
                <small class="latest-commit">
                    Latest commit <span class="date">{{pushedAt}}</span>
                </small>
            </dd>
        </dl>
        <div class="certainty">{{model.isPlugin}}</div>
    </div>
</div>
