<form action="">
    <fieldset>
        <legend {{bind-attr class="error.form:error"}}>
            {{#if error.form}}
                {{error.form}}
            {{else}}
                Create an account
            {{/if}}
        </legend>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                {{input
                value=model.email
                type="email"
                name="email"
                aria-label="email"
                required=true
                placeholder="Enter your email"}}
            </div>
            {{#if error.email}}
                <small class="error">{{error.email}}</small>
            {{/if}}
        </div>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                {{input
                value=model.password
                type="password"
                name="password"
                aria-label="password"
                placeholder="Enter your password"}}
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                {{input
                value=model.passwordVerify
                type="password"
                name="password-verify"
                aria-label="password"
                placeholder="Re-enter your password"}}
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <button class="button small" type="button" {{bind-attr disabled=disableSignup}} {{action 'createUser'}}>
                    {{#if createUserPending}}
                        <i class="fa fa-spin fa-cog"></i>
                    {{else}}
                        <i class="fa fa-sign-in"></i>
                    {{/if}}
                    Signup
                </button>
            </div>
        </div>
    </fieldset>
</form>
