<nav class="top-bar" data-topbar data-options="mobile_show_parent_link: false" role="navigation">
    {{partial 'core/app/partials/header-title'}}
    <section class="top-bar-section">
        <ul class="pull-right hide-for-medium-up">
            {{#if loggedIn}}
                {{#link-to 'profile.edit' tagName="li" href=false}}
                    <a {{bind-attr href="view.href"}}>Profile Edit</a>
                {{/link-to}}
                {{#link-to 'profile.view' tagName="li" href=false}}
                    <a {{bind-attr href="view.href"}}>Profile View</a>
                {{/link-to}}
                <li> <a href="#" {{action 'logout'}}>Log Out</a> </li>
            {{else}}
                {{#link-to 'login' tagName="li" href=false}}
                    <a {{bind-attr href="view.href"}}>Log In</a>
                {{/link-to}}
                {{#link-to 'signup' tagName="li" href=false}}
                    <a {{bind-attr href="view.href"}}>Register</a>
                {{/link-to}}
            {{/if}}
        </ul>
        <ul class="pull-right show-for-medium-up">
            {{#if loggedIn}}
            <li class="has-dropdown not-click">
                {{partial 'core/app/partials/header-profile-info'}}
                <ul class="dropdown">
                    {{#link-to 'profile.edit' tagName="li" href=false}}
                        <a {{bind-attr href="view.href"}}>Profile Edit</a>
                    {{/link-to}}
                    {{#link-to 'profile.view' tagName="li" href=false}}
                        <a {{bind-attr href="view.href"}}>Profile View</a>
                    {{/link-to}}
                    <li> <a href="#" {{action 'logout'}}>Log Out</a> </li>
                </ul>
            </li>
            {{else}}
                <li class="divider"></li>
                <li class="has-form">
                    {{#link-to 'login' class="button"}}Log In{{/link-to}}
                </li>
                <li class="divider"></li>
                <li class="has-form">
                    {{#link-to 'signup' class="button"}}Register{{/link-to}}
                </li>
            {{/if}}
        </ul>
    </section>
</nav>
{{outlet}}
