<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="/user">
                    <!-- TODO: show the user icon if logged in -->
                    <i class="fa fa-user fa-lg"></i>
                    <!--<i class="fa fa-sign-in"></i>-->
                    <!--<i class="fa fa-ban"></i>-->
                    <!--<div class="fa fa-minus-o"></div>-->
                    <!--User-->
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right hide-for-medium-up">
            {{#if loggedIn}}
                {{#link-to 'profile.edit' tagName="li" href=false}}
                    <a {{bind-attr href="view.href"}}>Profile Edit</a>
                {{/link-to}}
                {{#link-to 'profile.view' tagName="li" href=false}}
                    <a {{bind-attr href="view.href"}}>Profile View</a>
                {{/link-to}}
                <li> <a href="#" {{action 'logout'}}>Log Out</a> </li>
            {{else}}
                {{#link-to 'login' tagName="li" href=false}}
                    <a {{bind-attr href="view.href"}}>Log In</a>
                {{/link-to}}
                {{#link-to 'signup' tagName="li" href=false}}
                    <a {{bind-attr href="view.href"}}>Register</a>
                {{/link-to}}
            {{/if}}
        </ul>
        <ul class="right show-for-medium-up">
            {{#if loggedIn}}
            <li class="has-dropdown not-click">
                <a href="#">
                    <span class="margin-right-15">{{user.email}}</span>
                    <img class="profile-photo-small" {{bind-attr src=gravatarUrl}}>
                </a>
                <ul class="dropdown">
                    {{#link-to 'profile.edit' tagName="li" href=false}}
                        <a {{bind-attr href="view.href"}}>Profile Edit</a>
                    {{/link-to}}
                    {{#link-to 'profile.view' tagName="li" href=false}}
                        <a {{bind-attr href="view.href"}}>Profile View</a>
                    {{/link-to}}
                    <li> <a href="#" {{action 'logout'}}>Log Out</a> </li>
                </ul>
            </li>
            {{else}}
                <li class="divider"></li>
                <li class="has-form">
                    {{#link-to 'login' class="button"}}Log In{{/link-to}}
                </li>
                <li class="divider"></li>
                <li class="has-form">
                    {{#link-to 'signup' class="button"}}Register{{/link-to}}
                </li>
            {{/if}}
        </ul>
    </section>
</nav>
{{outlet}}
