<form action="">
    <fieldset>
        {{partial 'partials/legend'}}
        <div class="row">
            <div class="medium-6 large-4 columns">
                <div {{bind-attr class="alertClass :alert-box"}}>
                    {{{alertText}}}
                </div>
                {{partial 'partials/email-input'}}
                <input class="hide" type="text">
            </div>
        </div>
        <div class="row">
            <div class="medium-6 large-4 columns">
                <button class="button small" type="button" {{bind-attr disabled=disableSubmit}} {{action 'reset'}}>
                    {{#if resetPending}}
                        <i class="fa fa-spin fa-cog"></i>
                    {{else}}
                        <i class="fa fa-lock"></i>
                    {{/if}}
                    Reset Password
                </button>
                <button class="button secondary small" type="button" {{action 'redirectToLogin'}}>
                    <i class="fa fa-sign-in"></i>
                    Cancel
                </button>
            </div>
        </div>
    </fieldset>
</form>

