<form action="">
    <fieldset>
        {{partial 'partials/legend'}}
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                {{partial 'partials/email-input'}}
                {{partial 'partials/password-input' myfield="abcd"}}
                {{partial 'partials/password-verify-input' myfield="abcd"}}
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <button class="button small" type="button" {{bind-attr disabled=disableSubmit}} {{action 'createUser'}}>
                    {{#if createUserPending}}
                        <i class="fa fa-spin fa-cog"></i>
                    {{else}}
                        <i class="fa fa-user"></i>
                    {{/if}}
                    Register
                </button>
                <button class="button secondary small" type="button" {{action 'redirectToLogin'}}>
                    <i class="fa fa-sign-in"></i>
                    Log In
                </button>
            </div>
        </div>
    </fieldset>
</form>
