<form action="">
    <fieldset>
        <legend {{bind-attr class="error.server:error"}}>
            {{#if error.server}}
                {{error.server}}
            {{else}}
                Create an account
            {{/if}}
        </legend>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                {{input
                aria-label="email"
                class=error.email:error
                name="email"
                placeholder="Enter your email"
                required=true
                type="email"
                value=email}}
                {{#if error.email}}
                    <small class="error">{{error.email}}</small>
                {{/if}}
                {{input

                aria-label="password"
                class=error.passwords:error
                name="password"
                placeholder="Enter your password"
                type="password"
                value=password}}
                {{#if error.passwords}}
                    <small class="error">{{error.passwords}}</small>
                {{/if}}
                {{input

                aria-label="password"
                class=error.passwords:error
                name="password-verify"
                placeholder="Re-enter password"
                type="password"
                value=passwordVerify}}
                {{#if error.passwords}}
                    <small class="error">{{error.passwords}}</small>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <button class="button small" type="button" {{bind-attr disabled=disableSubmit}} {{action 'createUser'}}>
                    {{#if createUserPending}}
                        <i class="fa fa-spin fa-cog"></i>
                    {{else}}
                        <i class="fa fa-user"></i>
                    {{/if}}
                    Sign Up
                </button>
            </div>
        </div>
    </fieldset>
</form>
