<fieldset>
    <legend {{bind-attr class="legendClass"}}>
        <i {{bind-attr class="legendIcon :fa"}}></i>
        {{legendText}}
    </legend>
    <div class="row">
        <div class="medium-6 large-4 columns">
            <label>First Name
                {{input
                value=firstName
                type="text"
                name="firstName"
                placeholder="First Name"}}
            </label>

            <label>Last Name
                {{input
                value=lastName
                type="text"
                name="lastName"
                placeholder="Last Name"}}
            </label>


            <label>Display Name
                {{input
                value=displayName
                type="text"
                name="displayName"
                class=error.displayName:error
                placeholder="Display Name"}}
                {{#if error.displayName}}
                    <small class="error">{{error.displayName}}</small>
                {{/if}}
            </label>

            <label>Location
                {{input
                value=location
                type="text"
                name="location"
                placeholder="Location"}}
            </label>

            <label>Gravatar Email
                {{input
                value=gravatarEmail
                type="email"
                name="gravatarEmail"
                aria-label="email"
                placeholder="Gravatar Email"}}
            </label>
        </div>
        <div class="show-for-medium-up medium-6 large-8 columns profile-photo-wrapper">
            <img class="profile-photo" {{bind-attr src=gravatarUrl}}>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 large-4 columns">
            <button class="button small" type="button" {{bind-attr disabled=disableSubmit}} {{action 'save'}}>
                <i class="fa fa-save"></i>
                Save
            </button>
            <button class="button small" type="button" {{bind-attr disabled=disableCancel}} {{action 'cancel'}}>
                <i class="fa fa-undo"></i>
                Cancel
            </button>
        </div>
    </div>
</fieldset>
