<div class="grid-frame">
    <div class="grid-block">
        <div class="grid-content">
            <fieldset>
                {{partial 'user/app/partials/legend'}}
                {{#if requireOldPassword}}
                    <label>
                        Old Password
                        {{input
                        value=oldPassword
                        type="password"
                        name="old-password" }}
                    </label>
                {{/if}}

                {{partial 'user/app/partials/password-input'}}
                {{partial 'user/app/partials/password-verify-input'}}
                <button class="button small" type="button" {{bind-attr disabled=disableSubmit}} {{action 'save'}}>
                    <i class="fa fa-lock"></i> Change
                </button>
            </fieldset>
        </div>
        <div class="grid-content show-for-medium-up"></div>
    </div>
</div>
