<fieldset>
    {{partial 'partials/legend'}}
    <div class="row">
        <div class="small-12 medium-6 large-4 columns">
            <label>
                {{input
                value=password
                type="password"
                name="password"
                aria-label="password"
                class=error.passwords:error
                placeholder="Enter your password (at least 8 characters)"}}
                {{#if error.passwords}}
                    <small class="error">{{error.passwords}}</small>
                {{/if}}
            </label>

            <label>
                {{input
                value=passwordVerify
                type="password"
                name="password-verify"
                aria-label="password"
                class=error.passwords:error
                placeholder="Re-enter password"}}
                {{#if error.passwords}}
                    <small class="error">{{error.passwords}}</small>
                {{/if}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 large-4 columns">
            <button class="button small" type="button" {{bind-attr disabled=disableSubmit}} {{action 'save'}}>
                <i class="fa fa-lock"></i> Change
            </button>
        </div>
    </div>
</fieldset>

