<div class="row">
    <div class="medium-8 medium-offset-2 large-4 large-offset-4 columns">
        <fieldset class="panel callout">
            {{partial 'partials/legend'}}
            {{#if requireOldPassword}}
            <label>
                Old Password
                {{input
                value=model.oldPassword
                type="password"
                name="old-password" }}
            </label>
            {{/if}}

            {{partial 'partials/password-input'}}
            {{partial 'partials/password-verify-input'}}
            <button class="button small" type="button" disabled={{disableSubmit}} {{action 'save'}}>
                <i class="fa fa-lock"></i> Change
            </button>
        </fieldset>
    </div>
</div>
